<mat-card class="callInfo" appearance="outlined">
  <div class="cardHdr">
    <h1>
      {{ call | talkgroup: "alpha" | async }} &#64;
      {{ call.callDate | grabDate }} {{ call.callDate | time: true }}
    </h1>
  </div>
  <div class="call-heading">
    <div class="field field-label">Talkgroup</div>
    <div class="field field-data">{{ call | talkgroup: "name" | async }}</div>
    <div class="field field-label">Group</div>
    <div class="field field-data">{{ call | talkgroup: "group" | async }}</div>
  </div>
  <audio controls [src]="call.audioURL! | safe: 'resourceUrl'"></audio>
</mat-card>
