a.playButton {
  display: flex;
  align-items: center;
  cursor: pointer;
}

now-playing {
  width: 100%;
}

div.nowPlaying {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid rgb(100, 100, 100);
  background-color: #ffc400;
  color: #272727;
  padding: 5px 1em 5px 1em;
  border-radius: 5px;
}

mat-icon {
  color: #272727 !important;
}

div.playButton {
  display: flex;
  align-items: center;
  width: 30px;
  flex-shrink: 0;
}

div.playingText {
  flex: 2 0 30px;
  display: flex;
  align-items: center;
  font-family: "Arcade", sans-serif;
}
