@let currentCall = playSvc.playing();
@let origin = playSvc.queueOrigin();
@let shownCall = displayCall();
@let grace = graceActive();

<div class="nowPlaying" [class.idle]="!shownCall" [class.grace]="grace">
  <div class="playButton">
    <a
      class="playButton"
      (click)="playPause($event)"
      [class.disabled]="!currentCall"
      aria-label="Play/Pause"
    >
      <mat-icon>
        {{
          currentCall
            ? playSvc.paused()
              ? 'play_arrow'
              : 'pause'
            : 'play_arrow'
        }}
      </mat-icon>
    </a>
  </div>

  <div class="playingText" [class.greyed]="grace">
    @if (shownCall) {
      {{ shownCall | talkgroup: "summary" | async }}
    } @else {
      Idle
    }
  </div>

  @if (origin && shownCall) {
    <a
      class="originLink"
      [routerLink]="
        origin.type === 'incident'
          ? ['/incidents', origin.id]
          : ['/calls']
      "
      [queryParams]="originLinkQueryParams()"
      [attr.aria-label]="
        origin.type === 'incident' ? 'Jump to incident' : 'Jump to calls'
      "
    >
      <mat-icon class="material-symbols-outlined">jump_to_element</mat-icon>
    </a>
  }

  <a
    class="stopButton"
    (click)="stop($event)"
    [class.disabled]="!currentCall"
    aria-label="Stop playback"
  >
    <mat-icon>stop</mat-icon>
  </a>
</div>
