table {
  width: 100%;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

mat-icon.tgIcon {
  transform: scale(0.7);
}

tr.mat-mdc-row {
  height: 1.6rem !important;
  font-size: 9pt;
}

.tableContainer table {
  flex: 1 1 auto;
  overflow: scroll;
}

.pagFoot {
  flex: 0 0 auto;
  min-height: 2.5rem;
  bottom: 0;
}
