<div class="tableContainer">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
          >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
          >
        </mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let tg">
        <mat-icon class="tgIcon">{{ (tg | iconify).iconSvg! }}</mat-icon>
      </td>
    </ng-container>
    <ng-container matColumnDef="sysID">
      <th mat-header-cell *matHeaderCellDef>Sys ID</th>
      <td mat-cell *matCellDef="let tg">{{ tg.system?.id }}</td>
    </ng-container>
    <ng-container matColumnDef="sysName">
      <th mat-header-cell *matHeaderCellDef>Sys</th>
      <td mat-cell *matCellDef="let tg">{{ tg.system?.name }}</td>
    </ng-container>
    <ng-container matColumnDef="group">
      <th mat-header-cell *matHeaderCellDef>Group</th>
      <td mat-cell *matCellDef="let tg">{{ tg.tgGroup }}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let tg">{{ tg.name }}</td>
    </ng-container>
    <ng-container matColumnDef="alphaTag">
      <th mat-header-cell *matHeaderCellDef>Alpha Tag</th>
      <td mat-cell *matCellDef="let tg">{{ tg.alphaTag }}</td>
    </ng-container>
    <ng-container matColumnDef="tgid">
      <th mat-header-cell *matHeaderCellDef>TG ID</th>
      <td mat-cell *matCellDef="let tg">{{ tg.tgid }}</td>
    </ng-container>
    <ng-container matColumnDef="tags">
      <th mat-header-cell *matHeaderCellDef>Tags</th>
      <td mat-cell *matCellDef="let tg">
        <mat-chip-set>
          @for (tag of tg.tags; track tag) {
            <span>
              <mat-chip (click)="searchChip($event)">{{ tag }}</mat-chip>
            </span>
          }
        </mat-chip-set>
      </td>
    </ng-container>
    <ng-container matColumnDef="learned">
      <th mat-header-cell *matHeaderCellDef>Learned</th>
      <td mat-cell *matCellDef="let tg">{{ tg?.learned ? "Y" : "" }}</td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Edit</th>
      <td mat-cell *matCellDef="let tg; let i = index">
        <a (click)="editTG(i, tg.system?.id, tg.tgid)"
          ><mat-icon>edit</mat-icon>
        </a>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columns"></tr>
  </table>
</div>
<div class="pagFoot">
  <mat-paginator
    #paginator
    class="paginator"
    (page)="setPage($event)"
    [length]="count"
    showFirstLastButtons="true"
    [pageSize]="perPage"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="page"
    aria-label="Select page"
    >
  </mat-paginator>
</div>
