table {
  width: 100%;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-height: calc(
    (
        100vh - var(--mat-mat-maginator-container-size, 56px) - 2 *
          (var(--mat-toolbar-standard-height, 64px))
      ) + 7px
  );
  overflow: auto;
}

mat-icon.tgIcon {
  transform: scale(0.7);
}

tr.mat-mdc-row {
  height: 1.6rem !important;
  font-size: 9pt;
}

.tableContainer table {
  flex: 1 1 auto;
  overflow: scroll;
}

.pagFoot {
  flex: 0 0 auto;
  min-height: 2.5rem;
  bottom: 0;
}
