table {
  width: 100%;
}

.tableContainer {
  overflow: scroll;
  flex: 1 0 0;
}

mat-icon.tgIcon {
  transform: scale(0.7);
}

tr.mat-mdc-row {
  height: 1.6rem !important;
  font-size: 9pt;
}

table {
  overflow: scroll;
}

.pagFoot {
  flex: 0 0 0;
}
