<div class="w-100 justify-center overflow-x-auto">
  <div class="rounded-lg border border-gray-200 dark:border-gray-700">
    <div class="overflow-x-auto rounded-t-lg">
      <table
        class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm dark:divide-gray-700 dark:bg-gray-900"
      >
        <thead class="ltr:text-left">
          <tr>
            <th
              class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 dark:text-white"
            ></th>
            <th
              class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 dark:text-white"
            >
              Sys
            </th>
            <th
              class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 dark:text-white"
            >
              Sys ID
            </th>
            <th
              class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 dark:text-white"
            >
              Group
            </th>
            <th
              class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 dark:text-white"
            >
              Name
            </th>
            <th
              class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 dark:text-white"
            >
              Alpha Tag
            </th>
            <th
              class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 dark:text-white"
            >
              TG ID
            </th>
            <th
              class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 dark:text-white"
            >
              Learned
            </th>
            <th
              class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 dark:text-white"
            ></th>
          </tr>
        </thead>

        <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
          @let tgs = talkgroups$ | async;
          @for (tg of tgs?.talkgroups; track tg.id) {
            <tr>
              <!-- <td class="tgIcon" [innerHTML]="(tg | iconify).iconSvg! | sanitizeHtml"></td> -->
              <td class="tgIcon">
                <ng-icon [name]="(tg | iconify).iconSvg!"></ng-icon>
              </td>
              <td
                class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 dark:text-white"
              >
                {{ tg.system?.name }}
              </td>
              <td
                class="whitespace-nowrap px-4 py-2 text-gray-700 dark:text-gray-200"
              >
                {{ tg.system?.id }}
              </td>
              <td
                class="whitespace-nowrap px-4 py-2 text-gray-700 dark:text-gray-200"
              >
                {{ tg.tg_group }}
              </td>
              <td
                class="whitespace-nowrap px-4 py-2 text-gray-700 dark:text-gray-200"
              >
                {{ tg.name }}
              </td>
              <td
                class="whitespace-nowrap px-4 py-2 text-gray-700 dark:text-gray-200"
              >
                {{ tg.alpha_tag }}
              </td>
              <td
                class="whitespace-nowrap px-4 py-2 text-gray-700 dark:text-gray-200"
              >
                {{ tg.tgid }}
              </td>
              <td
                class="whitespace-nowrap px-4 py-2 text-gray-700 dark:text-gray-200"
              >
                {{ tg?.learned ? "Y" : "" }}
              </td>
              <td
                class="whitespace-nowrap px-4 py-2 text-gray-700 dark:text-gray-200"
              >
                <a routerLink="/talkgroups/{{ tg.system?.id }}/{{ tg.tgid }}"
                  ><ng-icon name="ionCreateOutline"></ng-icon
                ></a>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <div
      class="rounded-b-lg border-t border-gray-200 px-4 py-2 dark:border-gray-700"
    >
      <ol class="flex justify-end gap-1 text-xs font-medium">
        <li>
          <button
            (click)="prevPage()"
            [class.btn-ghost]="page == 1"
            class="inline-flex size-8 items-center justify-center rounded border border-gray-100 bg-white text-gray-900 rtl:rotate-180 dark:border-gray-800 dark:bg-gray-900 dark:text-white"
          >
            <span class="sr-only">Prev Page</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-3"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                clip-rule="evenodd"
              />
            </svg>
          </button>
        </li>

        @for (pgn of [].constructor(totalPages); track i; let i = $index) {
          @if (i != page) {
            <li>
              <button
                (click)="setPage(i + 1)"
                class="block size-8 rounded border border-gray-100 bg-white text-center leading-8 text-gray-900 dark:border-gray-800 dark:bg-gray-900 dark:text-white"
              >
                {{ i + 1 }}
              </button>
            </li>
          } @else {
            <li
              class="block size-8 rounded border-blue-600 bg-blue-600 text-center leading-8 dark:text-white"
            >
              {{ i + 1 }}
            </li>
          }
        }

        <li>
          <button
            (click)="nextPage()"
            [class.btn-ghost]="page == totalPages"
            class="inline-flex size-8 items-center justify-center rounded border border-gray-100 bg-white text-gray-900 rtl:rotate-180 dark:border-gray-800 dark:bg-gray-900 dark:text-white"
          >
            <span class="sr-only">Next Page</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-3"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd"
              />
            </svg>
          </button>
        </li>
      </ol>
    </div>
  </div>
</div>

<a href="#" class="btn btn-primary" routerLink="/talkgroups/import">Import</a>