:host {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.timeFilterBox {
  flex: 0 0 240px;
}

calls-table {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
}

.pagFoot {
  flex: 0 0 0;
}

.tsCheck {
  display: none;
}

input[type="checkbox"]:checked + button {
  color: #f00;
  font-style: normal;
}

.toolbarButtons button,
.toolbarButtons form,
.toolbarButtons form button {
  justify-content: flex-end;
  align-content: center;
}

.mdc-text-field__input::-webkit-calendar-picker-indicator {
  display: block !important;
}

.toolbar,
.toolbar form {
  display: flex;
  flex-flow: row wrap;
}

form {
  flex: 1 0;
  display: flex;
}

.filterBox {
  flex: 1 1 80px;
}

.filterBox:focus-within {
  flex: 10 0 80px;
}

.durationFilter {
  flex: 0 0 80px;
}

.tagSelect {
  flex: 1 1 220px;
}
