<div [ngClass]="{ hidden: (tcSvc.filterPanel | async) }" class="toolbar">
  <form [formGroup]="form">
    <mat-form-field subscriptSizing="dynamic" class="timeFilterBox">
      <mat-label>Start</mat-label>
      <input
        matInput
        type="datetime-local"
        name="start"
        placeholder="Start date"
        formControlName="start"
      />
    </mat-form-field>
    <mat-form-field subscriptSizing="dynamic" class="timeFilterBox">
      <mat-label>End</mat-label>
      <input
        matInput
        type="datetime-local"
        name="end"
        placeholder="End date"
        formControlName="end"
      />
    </mat-form-field>
    <mat-form-field subscriptSizing="dynamic" class="durationFilter">
      <mat-label>Dur (s) &gt;</mat-label>
      <input
        matInput
        type="number"
        name="duration"
        placeholder="Seconds"
        formControlName="duration"
      />
    </mat-form-field>
    <mat-form-field class="filterBox" subscriptSizing="dynamic">
      <mat-label>Filter</mat-label>
      <input
        matInput
        name="filter"
        type="text"
        autocomplete="off"
        formControlName="filter"
      />
      <button
        class="clearBtn"
        *ngIf="form.controls['filter'].value"
        matSuffix
        mat-icon-button
        (click)="form.controls['filter'].setValue('')"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="filterBox" subscriptSizing="dynamic">
      <mat-label>Source Filter</mat-label>
      <input
        matInput
        name="sourceFilter"
        type="text"
        autocomplete="off"
        formControlName="sourceFilter"
      />
      <button
        class="clearBtn"
        *ngIf="form.controls['sourceFilter'].value"
        matSuffix
        mat-icon-button
        (click)="form.controls['sourceFilter'].setValue('')"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="filterBox" subscriptSizing="dynamic">
      <mat-label>Transcript</mat-label>
      <input
        matInput
        name="transcriptSearch"
        type="text"
        autocomplete="off"
        formControlName="transcriptSearch"
      />
      <button
        class="clearBtn"
        *ngIf="form.controls['transcriptSearch'].value !== null"
        matSuffix
        mat-icon-button
        (click)="form.controls['transcriptSearch'].setValue(null)"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="tagSelect" subscriptSizing="dynamic">
      <mat-label>Any Tags</mat-label>
      <mat-select
        matNativeControl
        name="tagsAny"
        formControlName="tagsAny"
        multiple
      >
        @for (tag of tgSvc.allTags() | async; track tag) {
          <mat-option value="{{ tag }}">{{ tag }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field class="tagSelect" subscriptSizing="dynamic">
      <mat-label>Not Tags</mat-label>
      <mat-select
        matNativeControl
        name="tagsNot"
        class="tagSelect"
        formControlName="tagsNot"
        multiple
      >
        @for (tag of tgSvc.allTags() | async; track tag) {
          <mat-option value="{{ tag }}">{{ tag }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <div class="toolbarButtons">
      <button class="sbButton" (click)="resetFilter()">
        <mat-icon class="material-symbols-outlined">reset_settings</mat-icon>
      </button>
      <button class="sbButton" (click)="refresh()">
        <mat-icon>refresh</mat-icon>
      </button>
      <button
        [ngClass]="{ sbButton: true, hidden: !selection.hasValue() }"
        [matMenuTriggerFor]="callMenu"
      >
        <mat-icon>playlist_add</mat-icon>
      </button>
      <mat-menu #callMenu="matMenu">
        <button mat-menu-item (click)="addToNewInc($event)">
          Add to new incident
        </button>
        <button mat-menu-item (click)="addToExistingInc($event)">
          Add to existing incident
        </button>
      </mat-menu>
    </div>
  </form>
</div>
<mat-progress-bar
  [mode]="queryInProgress ? 'query' : 'determinate'"
></mat-progress-bar>
<div class="tableCont">
  <table
    [formGroup]="tableFG"
    *ngIf="!isLoading; else spinner"
    #callsTable
    class="callsTable"
    mat-table
    [dataSource]="callsResult"
  >
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="play">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox title="Download mode" formControlName="downloadMode">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let call; let i = index">
        <call-player
          [download]="downloadMode()"
          [index]="i"
          [call]="call"
        ></call-player>
      </td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let call">
        {{ call.callDate | grabDate }}
      </td>
    </ng-container>
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef>Time</th>
      <td mat-cell *matCellDef="let call" [title]="call.callDate">
        {{ call.callDate | time: true }}
      </td>
    </ng-container>
    <ng-container matColumnDef="system">
      <th mat-header-cell *matHeaderCellDef>System</th>
      <td mat-cell *matCellDef="let call">
        {{ call | talkgroup: "system" | async }}
      </td>
    </ng-container>
    <ng-container matColumnDef="group">
      <th mat-header-cell *matHeaderCellDef>Group</th>
      <td mat-cell *matCellDef="let call">
        {{ call | talkgroup: "group" | async }}
      </td>
    </ng-container>
    <ng-container matColumnDef="talkgroup">
      <th mat-header-cell *matHeaderCellDef>Talkgroup</th>
      <td
        mat-cell
        *matCellDef="let call"
        [title]="call.systemId + ':' + call.tgid"
      >
        @let tgAlpha = call | talkgroup: "alpha" | async;
        <a
          href="javascript:void(0)"
          class="tgFilter"
          (click)="searchTGFilter(tgAlpha)"
          >{{ tgAlpha }}</a
        >
      </td>
    </ng-container>
    <ng-container matColumnDef="talker">
      <th mat-header-cell *matHeaderCellDef>Source</th>
      <td mat-cell *matCellDef="let call">
        @let tlkAlias = call | talker;
        @if (tlkAlias) {
          <a
            href="javascript:void(0)"
            class="srcFilter"
            (click)="searchSrcFilter(tlkAlias)"
            >{{ tlkAlias }}</a
          >
        } @else {
          &mdash;
        }
      </td>
    </ng-container>
    <ng-container matColumnDef="transcript">
      <th mat-header-cell *matHeaderCellDef>Transcript</th>
      <td mat-cell *matCellDef="let call">
        @let txcript = call | transcript;
        @if (txcript) {
          <span [innerHTML]="sanitize(txcript)"></span>
        } @else {
          &mdash;
        }
      </td>
    </ng-container>
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef class="durationHdr">
        <mat-icon>timer_outline</mat-icon>
      </th>
      <td
        mat-cell
        [title]="call.duration / 1000 + 's'"
        *matCellDef="let call"
        class="duration"
      >
        {{ call.duration | fixedPoint: 1000 : 0 }}s
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="getColumns(); sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: getColumns()"
      [ngClass]="{ 'in-incident': row.incidents > 0 }"
    ></tr>
  </table>
</div>
<div class="pagFoot">
  <mat-paginator
    #paginator
    class="paginator"
    (page)="setPage($event)"
    [length]="count"
    showFirstLastButtons="true"
    [pageSize]="curPage.pageSize"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="curPage.pageIndex"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
<ng-template #spinner>
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
