@let inc = inc$ | async;
<mat-card class="incident" appearance="outlined">
  <div class="cardHdr">
    <h1>
      {{ inc?.name }}
      <a
        [href]="
          share
            ? '/share/' + share.id + '/m3u'
            : '/api/incident/' + incID + '.m3u'
        "
        ><mat-icon>playlist_play</mat-icon></a
      >
    </h1>
    @if (share == null) {
      <button mat-icon-button (click)="editIncident(incID)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="moreMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #moreMenu="matMenu">
        <button mat-menu-item type="button" (click)="goAddCalls()">
          Add calls…
        </button>
        <button
          [ngClass]="{ hidden: !callsTable.selection.hasValue() }"
          mat-menu-item
          (click)="removeSelectedCalls()"
        >
          Remove selected calls
        </button>
        <button
          class="deleteItem"
          mat-menu-item
          (click)="deleteIncident(incID)"
        >
          Delete
        </button>
      </mat-menu>
    }
  </div>
  <div class="inc-heading">
    <div class="field field-start field-label">Start</div>
    <div class="field field-data field-start">
      {{ inc?.startTime | fmtDate }}
    </div>
    <div class="field field-end field-label">End</div>
    <div class="field field-data field-end">{{ inc?.endTime | fmtDate }}</div>
  </div>
  <div markdown [data]="inc?.description" class="inc-description"></div>
  <mat-progress-bar
    [mode]="queryInProgress ? 'query' : 'determinate'"
  ></mat-progress-bar>
  <calls-table
    #callsTable
    [share]="this.share"
    [searched]="false"
    [callsResult]="callsResult | async"
    [playingCallId]="playerSvc.playing()?.id ?? null"
    [showTranscripts]="true"
    (setPage)="setPage($event)"
    [curPage]="curPage"
    [forward]="true"
  ></calls-table>
</mat-card>
