@let inc = inc$ | async;
<mat-card class="incident" appearance="outlined">
  <div class="cardHdr">
    <h1>
      {{ inc?.name }}
      <a
        [href]="
          share
            ? '/share/' + share.id + '/m3u'
            : '/api/incident/' + incID + '.m3u'
        "
        ><mat-icon>playlist_play</mat-icon></a
      >
    </h1>
    @if (share == null) {
      <button mat-icon-button (click)="editIncident(incID)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="moreMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #moreMenu="matMenu">
        <button
          class="deleteItem"
          mat-menu-item
          (click)="deleteIncident(incID)"
        >
          Delete
        </button>
      </mat-menu>
    }
  </div>
  <div class="inc-heading">
    <div class="field field-start field-label">Start</div>
    <div class="field field-data field-start">
      {{ inc?.startTime | fmtDate }}
    </div>
    <div class="field field-end field-label">End</div>
    <div class="field field-data field-end">{{ inc?.endTime | fmtDate }}</div>
  </div>
  <div class="inc-description">
    {{ inc?.description }}
  </div>
  <calls-table
  #callsTable
 [searched]="false"
  [callsResult]="callsResult"
  [showTranscripts]="true"
  [curPage]="curPage"
  ></calls-table>
</mat-card>
