<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [attr.role]="(tcSvc.isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(tcSvc.isHandset$ | async) ? 'over' : 'side'"
    [opened]="(tcSvc.isHandset$ | async) === false"
  >
    <mat-nav-list>
      @for (r of homeRoutes; track r) {
        <a
          [routerLink]="r.url"
          [routerLinkActiveOptions]="{ exact: r.exact }"
          routerLinkActive
          [title]="r.name"
          #routerLinkActiveInstance="routerLinkActive"
          [activated]="routerLinkActiveInstance.isActive"
          mat-list-item
        >
          <mat-icon>{{ r.icon }}</mat-icon>
          @if (isExpanded) {
            <span class="sbLabel">{{ r.name }}</span>
          }
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    @if (tcSvc.isHandset$ | async) {
      <div class="sidenavButtons">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        @if (tcSvc.filterBtn | async) {
          @if (showFilter) {
            <button
              type="button"
              aria-label="Toggle filters"
              mat-icon-button
              (click)="toggleFilterPanel()"
            >
              <mat-icon aria-label="Filter toggle icon">tune</mat-icon>
            </button>
          }
        }
      </div>
    }
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
