:host {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.sidenav-container {
  flex: 1 0 auto;
  width: 100%;
}

.sbLabel {
  margin-left: 12px;
  font-size: 12pt;
  font-weight: normal;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-sidenav-content {
  display: flex;
  flex-direction: column;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.content {
  margin-left: 2px;
}

.mdc-list-item--activated * {
  color: rgb(255, 200, 0) !important;
}
