.filterBox {
  width: 300px;
}

talkgroups {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
}

.clearBtn {
  border: 0;
  background-color: transparent;
}

.tgTools {
  display: flex;
}

.tgTools button {
  cursor: pointer;
}

.tgTools .impExp {
  display: flex;
  align-items: center;
  margin-left: auto;
}

:host {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  min-height: 0;
  min-width: 0;
}

talkgroup-table {
  width: 100%;
  flex: 1 1 0;
  min-height: 0;
}
