mat-card.chart {
  max-height: calc(
    (
        100vh - var(--mat-mat-maginator-container-size, 56px) - 2 *
          (var(--mat-toolbar-standard-height, 64px))
      ) + 7px
  );
  overflow: auto;
}

mat-card div {
  padding-left: 10px;
  padding-top: 10px;
}
