:host {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.chart {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  width: auto;
  overflow: hidden;
}

.chart form,
.chart chart {
  flex: 1 0 0;
  flex-direction: column;
}

mat-card div {
  padding-left: 10px;
  padding-top: 10px;
}
