// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.elevation-classes();
@include mat.app-background();
@include mat.elevation-classes();
@include mat.app-background();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$stillbox-primary: mat.m2-define-palette(mat.$m2-grey-palette, A700);
$stillbox-accent: mat.m2-define-palette(
  mat.$m2-deep-purple-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$stillbox-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$stillbox-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: $stillbox-primary,
      accent: $stillbox-accent,
      warn: $stillbox-warn,
    ),
    typography: mat.m2-define-typography-config(),
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

html {
  color-scheme: dark light;
  @include mat.all-component-themes($stillbox-theme);
}

/* You can add global styles to this file, and also import other style files */

:root {
  --color-dark-fg: #dcdcdc;
  --color-dark-bg: #000000;
  --color-dark-header-bg: #000;
  --color-dark-header-fg: #d0d0d0;
  --color-dark-header-button-fg: #000;
  --color-dark-header-button-bg: #d0ff00;
  //--mat-toolbar-title-text-font: "Warnes";
  --mat-form-field-filled-focus-label-text-color: #fff;
  --mat-list-active-indicator-color: rgb(157, 157, 157);
  // Customize the entire app. Change :root to your selector if you want to scope the styles.
  @include mat.toolbar-overrides(
    (
      container-background-color: rgba(83, 83, 83, 0.5),
      container-text-color: silver,
    )
  );
}

@font-face {
  font-family: "Warnes";
  src: url("./assets/Warnes.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("./assets/Roboto300.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/Roboto400.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./assets/Roboto500.ttf") format("truetype");
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/MatIcons.ttf") format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}

@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/MatSymOutline.ttf") format("truetype");
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}

a,
a:visited {
  text-decoration: none;
  color: var(--color-dark-fg);
}

.stillboxLogo a {
  font-family: "Warnes";
  font-size: 20pt;
  cursor: pointer;
  color: silver;
}

header.topHeader {
  background-color: var(--color-dark-header-bg);
  color: var(--color-dark-header-fg);
}

.navbar {
  display: flex;
  width: 100%;
}

.rightNav {
  text-align: right;
  justify-content: flex-end;
}

.stillboxLogo,
.rightNav {
  display: flex;
  flex: 1;
}

now-playing {
  width: 100%;
}

.centerNav {
  display: flex;
  flex: 2;
}

.stillboxLogo,
.centerNav {
  justify-content: flex-start;
  align-items: center;
}

header.topHeader a,
header.topHeader a:visited {
  color: var(--color-dark-fg);
}

button.ybtn a,
button.ybtn a:visited {
  color: var(--color-dark-header-button-fg);
  font-weight: 450;
}

button.ybtn {
  background-color: var(--color-dark-header-button-bg);
  cursor: pointer;
}

.stillboxLogo {
  text-shadow: 2px 2px 2px rgb(156, 156, 156);
}

button.sbButton {
  border-radius: 3px;
  padding: 10px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  color: rgba(255, 230, 0, 0.979);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-dark-bg);
    color: var(--color-dark-fg);
  }
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

app-calls {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

app-home {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overscroll-behavior: contain;
}

app-navigation {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

talkgroups {
  display: flex;
  flex-direction: column;
}

app-shares {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
}

.sidenav {
  align-items: center;
  justify-content: center;
}

.navItems {
  width: 100px;
}

input,
textarea {
  caret-color: var(--color-dark-fg) !important;
}

.hidden {
  display: none !important;
}

.spinner {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  justify-content: center;
}

.mat-mdc-menu-item.deleteItem {
  color: white;
  background-color: red;
}

app-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
}
