<app-update-nag></app-update-nag>
<header class="topHeader">
  <mat-toolbar>
    <div class="navbar">
      <div class="stillboxLogo">
        <a (click)="toggleNav()">Stillbox</a>
      </div>
      <div class="centerNav"></div>
      <div class="rightNav">
        @if (auth.isAuth()) {
          <button class="ybtn sbButton">
            <a (click)="logout()" class="logout">Logout</a>
          </button>
        }
      </div>
    </div>
  </mat-toolbar>
</header>
<main>
  @if (auth.isAuth()) {
    <app-navigation [events]="toggleNavSubject.asObservable()"></app-navigation>
  } @else {
    <router-outlet />
  }
</main>
