<div class="flex">
  <form [formGroup]="form" (ngSubmit)="submit()">
<textarea
        id="contents"
        class="w-full textarea textarea-bordered"
        placeholder="Paste RadioReference page here"
        formControlName="contents"
        cols="40" rows="15"
        ></textarea>
    <input type="number" class="input input-bordered" formControlName="systemID" id="systemID" />
    <input type="submit" class="btn btn-primary" value="Preview" />
    <button class="btn btn-secondary" (click)="save()">Save</button>
  </form>
</div>
<div class="w-100 justify-center overflow-x-auto">
  <table class="table">
    <thead>
      <tr>
        <th><input type="checkbox" class="checkbox" [(ngModel)]="selectAll" name="selectAll" /></th>
        <th>Sys</th>
        <th>Sys ID</th>
        <th>Group</th>
        <th>Alpha</th>
        <th>Name</th>
        <th>TG ID</th>
        <th>Enc</th>
      </tr>
    </thead>
    <tbody>
      @for (tg of tgs; track tg.id) {
        <tr>
          <td><input type="checkbox" class="checkbox" [(ngModel)]="tg.selected" value="{{tg.name}}" (change)="isAllSelected()">
          </td>
          <td>{{ tg.system.name }}</td>
          <td>{{ tg.system.id }}</td>
          <td>{{ tg.tg_group }}</td>
          <td>{{ tg.alpha_tag }}</td>
          <td>{{ tg.name }}</td>
          <td>{{ tg.tgid }}</td>
          <td>{{ tg?.metadata?.encrypted ? 'E' : '' }}</td>
        </tr>
      }
    </tbody>
  </table>
</div>
