@if (addToIncidentId()) {
  <div class="addToIncidentHint" role="status">
    Incident is pre-selected in “Add to existing incident”. Select calls, then
    the playlist menu.
  </div>
}
<div [ngClass]="{ hidden: (tcSvc.filterPanel | async) }" class="toolbar">
  <form [formGroup]="form">
    <mat-form-field subscriptSizing="dynamic" class="timeFilterBox">
      <mat-label>Start</mat-label>
      <input
        matInput
        type="datetime-local"
        name="start"
        placeholder="Start date"
        formControlName="start"
      />
    </mat-form-field>
    <mat-form-field subscriptSizing="dynamic" class="timeFilterBox">
      <mat-label>End</mat-label>
      <input
        matInput
        type="datetime-local"
        name="end"
        placeholder="End date"
        formControlName="end"
      />
    </mat-form-field>
    <mat-form-field subscriptSizing="dynamic" class="durationFilter">
      <mat-label>Dur (s) &gt;</mat-label>
      <input
        matInput
        type="number"
        name="duration"
        placeholder="Seconds"
        formControlName="duration"
      />
    </mat-form-field>
    <mat-form-field class="filterBox" subscriptSizing="dynamic">
      <mat-label>Filter</mat-label>
      <input
        matInput
        name="filter"
        type="text"
        autocomplete="off"
        formControlName="filter"
      />
      @if (form.controls["filter"].value) {
        <button
          class="clearBtn"
          matSuffix
          mat-icon-button
          (click)="form.controls['filter'].setValue('')"
        >
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>
    <mat-form-field class="filterBox" subscriptSizing="dynamic">
      <mat-label>Source Filter</mat-label>
      <input
        matInput
        name="sourceFilter"
        type="text"
        autocomplete="off"
        formControlName="sourceFilter"
      />
      @if (form.controls["sourceFilter"].value) {
        <button
          class="clearBtn"
          matSuffix
          mat-icon-button
          (click)="form.controls['sourceFilter'].setValue('')"
        >
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>
    @if (showTranscripts | async) {
      <mat-form-field class="filterBox" subscriptSizing="dynamic">
        <mat-label>Transcript</mat-label>
        <input
          matInput
          name="transcriptSearch"
          type="text"
          autocomplete="off"
          formControlName="transcriptSearch"
        />
        @if (form.controls["transcriptSearch"].value !== null) {
          <button
            class="clearBtn"
            matSuffix
            mat-icon-button
            (click)="form.controls['transcriptSearch'].setValue(null)"
          >
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>
    }
    <mat-form-field class="tagSelect" subscriptSizing="dynamic">
      <mat-label>Any Tags</mat-label>
      <mat-select
        matNativeControl
        name="tagsAny"
        formControlName="tagsAny"
        multiple
      >
        @for (tag of tgSvc.allTags() | async; track tag) {
          <mat-option value="{{ tag }}">{{ tag }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field class="tagSelect" subscriptSizing="dynamic">
      <mat-label>Not Tags</mat-label>
      <mat-select
        matNativeControl
        name="tagsNot"
        class="tagSelect"
        formControlName="tagsNot"
        multiple
      >
        @for (tag of tgSvc.allTags() | async; track tag) {
          <mat-option value="{{ tag }}">{{ tag }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <div class="toolbarButtons">
      @if (showTranscripts | async) {
        <input
          class="tsCheck"
          type="checkbox"
          formControlName="showTranscripts"
          name="showTranscripts"
        />
      }
      @if (showTranscripts | async) {
        <button
          title="Always show transcripts"
          class="sbButton"
          (click)="
            this.form.controls.showTranscripts.setValue(
              !this.form.controls.showTranscripts.value
            )
          "
        >
          <mat-icon>subtitles</mat-icon>
        </button>
      }
      <button class="sbButton" matIconButton (click)="resetFilter()">
        <mat-icon class="material-symbols-outlined">reset_settings</mat-icon>
      </button>
      <button class="sbButton" matIconButton (click)="refresh()">
        <mat-icon>refresh</mat-icon>
      </button>
      <button
        matIconButton
        [ngClass]="{ sbButton: true, hidden: !callsTable.selection.hasValue() }"
        [matMenuTriggerFor]="callMenu"
      >
        <mat-icon>playlist_add</mat-icon>
      </button>
      <mat-menu #callMenu="matMenu">
        <button mat-menu-item (click)="addToNewInc($event)">
          Add to new incident
        </button>
        <button mat-menu-item (click)="addToExistingInc($event)">
          Add to existing incident
        </button>
      </mat-menu>
    </div>
  </form>
</div>
<mat-progress-bar
  [mode]="queryInProgress ? 'query' : 'determinate'"
></mat-progress-bar>
<calls-table
  #callsTable
  [searched]="true"
  [callsResult]="callsResult | async"
  [playingCallId]="playerSvc.playing()?.id ?? null"
  (searchTGFilter)="searchTGFilter($event)"
  (searchSrcFilter)="searchSrcFilter($event)"
  (setPage)="setPage($event)"
  [curPage]="curPage"
  [showTranscripts]="(showTranscripts | async) && txSearchSet()"
></calls-table>
