talkgroup-table {
  width: 100%;
  height: 100%;
}

.filterBox {
  width: 300px;
}

talkgroups {
  display: flex;
  flex-direction: column;
  min-height: 0;
  height: 90%;
}

.clearBtn {
  border: 0;
  background-color: transparent;
}

.tgTools {
  display: flex;
}

.tgTools button {
  cursor: pointer;
}

.tgTools .impExp {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 5px;
}

.spinner {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
