<div class="tgTools">
  <mat-form-field class="filterBox" subscriptSizing="dynamic">
    <mat-label>Filter</mat-label>
    <input
      matInput
      name="filter"
      type="text"
      autocomplete="off"
      [formControl]="filter"
    />
    @if (filter.value) {
      <button
        class="clearBtn"
        matSuffix
        mat-icon-button
        (click)="filter.setValue('')"
      >
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>
  <div class="addTag"></div>
  <div class="buttonBar">
    <button matIconButton class="sbButton" [class.hidden]="!talkgroupTable.selection.hasValue()"><mat-icon>playlist_add</mat-icon></button>
    <button class="sbButton" [routerLink]="'/talkgroups/import'">Import</button>
    <button class="sbButton" [routerLink]="'/talkgroups/export'">Export</button>
  </div>
</div>
  <talkgroup-table
    [class.hidden]="tgs === null || tgs === undefined"
    #talkgroupTable
    [talkgroups]="tgs"
    [resetPage]="pageReset.asObservable()"
    (switchPage)="switchPage($event)"
    (changeFilter)="changeFilter($event)"
  ></talkgroup-table>
  <div class="spinner" [class.hidden]="!(tgs === null || tgs === undefined)">
    <mat-spinner></mat-spinner>
  </div>
